CARGO_BUILD_TARGET[sdk=iphonesimulator*][arch=*] = x86_64-apple-ios
CARGO_BUILD_TARGET[sdk=iphonesimulator*][arch=arm64] = aarch64-apple-ios-sim
CARGO_BUILD_TARGET[sdk=iphoneos*] = aarch64-apple-ios

// Presently, there's no special SDK or arch for maccatalyst,
// so we need to hackily use the "IS_MACCATALYST" build flag
// to set the appropriate cargo target
CARGO_BUILD_TARGET_MAC_CATALYST_X86_ = x86_64-apple-darwin
CARGO_BUILD_TARGET_MAC_CATALYST_X86_YES = x86_64-apple-ios-macabi
CARGO_BUILD_TARGET[sdk=macosx*][arch=*] = $(CARGO_BUILD_TARGET_MAC_CATALYST_X86_$(IS_MACCATALYST))
CARGO_BUILD_TARGET_MAC_CATALYST_ARM_ = aarch64-apple-darwin
CARGO_BUILD_TARGET_MAC_CATALYST_ARM_YES = aarch64-apple-ios-macabi
CARGO_BUILD_TARGET[sdk=macosx*][arch=arm64] = $(CARGO_BUILD_TARGET_MAC_CATALYST_ARM_$(IS_MACCATALYST))
