out/
out-arm/
cscope.*
.DS_Store
.dir-locals.el
.cargo
.gradle/
*.code-workspace
**/.vscode
.idea
src/webrtc*
src/jar.list
.project
.classpath
org.eclipse.buildship.core.prefs
local.properties
*.tar.gz
.cargo
.spr.yml