#
# Copyright 2019-2021 Signal Messenger, LLC
# SPDX-License-Identifier: AGPL-3.0-only
#

[package]
name = "ringrtc"
version = "2.10.6"
authors = ["Curt Brune <curt@signal.org>", "Jim Gustafson <jim@signal.org>", "Peter Thatcher <peter@signal.org>", "Vladimir Skuratovich <vlad@signal.org>", "Jordan Rose <jrose@signal.org>"]
edition = "2018"
description = "A Rust interface for WebRTC"
license = "AGPL-3.0-only"

[lib]
crate_type = ["cdylib", "staticlib", "lib"]

[[bin]]
name = "cli"
path = "src/cli.rs"
required-features = ["native", "simnet"]

[dependencies]
aes-ctr           = { version = "0.6.0"  }
base64            = { version = "0.13"   }
bytes             = { version = "0.5"    }
failure           = { version = "0.1"    }
futures           = { version = "0.3"    }
hmac              = { version = "0.9.0"  }
lazy_static       = { version = "1.4"    }
libc              = { version = "0.2"    }
log               = { version = "0.4", features = ["std", "max_level_trace", "release_max_level_info"] }
prost             = { version = "0.6"    }
rand              = { version = "0.7", features = [] }
regex             = { version = "1.3"    }
hkdf              = { version = "0.9"    }
serde_json        = { version = "1.0"    }
serde             = { version = "1.0", features = ["derive"] }
sha2              = { version = "0.9"    }
static_assertions = { version = "1.1.0"  }
subtle            = { version = "2.3.0"  }
thiserror         = { version = "1.0.20" }
tokio             = { version = "0.3", features = ["rt-multi-thread", "time"] }

# Optional, needed to build protobufs
prost-build = { version = "0.6.1", optional = true }

# Optional, needed by the 'sim' feature
simplelog   = { version = "0.7", optional = true, default-features = false }
rand_chacha = { version = "0.2", optional = true }

# Optional, needed by the "electron" feature
neon = { version = "0.7.1", optional = true, default-features = false, features = ["napi-1"] }

# Optional, needed to check Android-specific code when not targeting Android
jni = { version = "0.17.0", optional = true, default-features = false }

[dependencies.x25519-dalek]
version = "0.6"

[features]
default = []
protobuf_gen_deps = ["prost-build"]
sim = ["simplelog", "rand_chacha"]
electron = ["neon", "native"]
native = []  # We have this so we can more easily disable things only native clients need
simnet = []  # We have this so we can more easily disable things only simulated native client need
check-all = ["electron", "jni"]

[[bin]]
name = "protobuf-gen"
path = "protobuf/protobuf_gen.rs"
required-features = ["protobuf_gen_deps"]

[[test]]
name = "incoming"
path = "tests/incoming.rs"
required-features = ["sim"]

[[test]]
name = "outgoing"
path = "tests/outgoing.rs"
required-features = ["sim"]

[target.'cfg(target_os="android")'.dependencies]
jni = { version = "0.17.0", default-features = false }

[dev-dependencies]
env_logger = { version = "0.8.1" }
