<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright 2019-2021 Signal Messenger, LLC
 * SPDX-License-Identifier: AGPL-3.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.signal.ringrtc"
          android:versionCode="1"
          android:versionName="0.1">
  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26" />
</manifest>
